body{
	width: 1200px;
	margin: auto;
	background-image: url("../images/habsrink.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#identification{
	width: 400px;
	height: 300px;
	margin: auto;
	border: solid red 3px;
	border-radius: 10px;
	background-color: white;
	margin-top: 35vh;
}

canvas{
	position: absolute;
	top: 0;
}