@font-face{
	font-family: "Sports-Content";
	src: url("../fonts/octin_college_rg.ttf");
}

@font-face{
    font-family: "scoreboard";
    src: url("../fonts/CursedTimerUlil-Aznm.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-image: url("../images/rink.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    font-family: "Sports-Content", sans-serif;
}

#user-prompt{
    display: none;
    position: absolute;
    background-color: black;
    border: ridge darkorange 5px;
    border-radius: 10px;
    text-align: center;
    font-family: "scoreboard";
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
}

.quit{
    display: none;
    
    top: calc(calc(100vh / 2) - 200px);
    left: calc(calc(100vw /2) - 250px);
    color: black;
    border: ridge darkorange 10px;
    border-radius: 10px;
    width: 500px;
    height: 280px;
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: bold;
}

.message{
    display: none;
    
    top: calc(calc(100vh / 2) - 68px);
    left: calc(calc(100vw /2) - 350px);

    width: 700px;
    
    padding: 5px 0 5px 0;

    opacity: 0.9;
    
    color: darkorange;
    font-size: 1.6em;
}

.prompt-quit{
    margin-top: 210px;
    width: 100px;
    height: 40px;
    font-family: "scoreboard";
    color: darkorange;
    background-color: black;
    border: ridge darkorange 5px;
    border-radius: 10px;
    font-size: 1em;
}

.winDance{
    background-image: url("../images/gifs/win4.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    left: -100px;

    width: 694px;
    height: 500px;
    
    transform: rotate(90deg);

}

/* =====================    OPPONENT SECTION    ===================== */

/* main section container */
#opponent{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 620px 1fr 620px;
}

/* left part (hand) */
#op-hand{
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin-left: 10px;
}

#op-hand1, #op-hand2, #op-hand3, #op-hand4, #op-hand5, #op-hand6, #op-hand7 {
    display: none;
}

.hand{
    background-image: url("../images/pack.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 75px;
    height: 100px;
    align-self: center;
}

/* middle part (hp, mp, name, class) */
#op-infos{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr;
}

#op-hp{
    background-image: url("../images/plaster.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-end;
    width: 80px;
    height: 80px;
}

#op-class{
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 15px;
    width: 200px;
    height: 200px;
    transition: 1s;
}

#op-class:hover{
    cursor: pointer;
}

#op-name{
    width: 260px;
    text-align: center;
    position: relative;
    top: 145px;
    right: 30px;
    font-size: 2em;
}

#op-mp{
    background-image: url("../images/puck.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-start;
    width: 80px;
    height: 80px;
}

#op-hp p{
    color: white;
    position: relative;
    top: 25px;
    left: 28px;
    font-size: 1.5em;
}

#op-mp p{
    color: white;
    position: relative;
    top: 25px;
    left: 40px;
    font-size: 1.5em;
}

/* right part (cards left) */
#op-cards-left{
    align-self: center;
    justify-self: flex-end;
    margin-right: 10px;
}

#op-cards-left-val{
    position: relative;
    top: 30px;
    left: 12px;
    font-size: 2em;
    width:  50px;
    text-align: center;
}


/* =====================    FIGHTING SECTION    ===================== */

/* main section container */
#arena{
    width: 100%;
}

/* welcome texts */
#welcomeText{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: auto;
    row-gap: 50px;
}

.wt{
    border-radius: 10px;
    text-align: center;
    font-size: 2.5em;
}

/* game */
#board{
    display: none;
    width: 1200px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1.1fr;
    margin: auto;
}

#op-cards, #self-cards{
    display: flex;
    justify-content: center;
}

.card-on-board{
    background-size: cover;
    background-repeat: no-repeat;
    width: 161px;
    height: 230px;
    transition: 1s;
    box-shadow: 0 0 20px black;
}

.card-on-board:hover{
    cursor: pointer;
    box-shadow: 0 0 50px black;   
}

.op-card{
    margin: 70px 20px 20px 20px;
}

.self-card{
    margin: 30px 20px 0 20px;
}

.player{
    width: 100%;
    height: 100%;
    text-align: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

.player-mp{
    background-image: url("../images/puck.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    color: white;
    position: relative;
    top: -10px;
    left: -10px;
    /* grid-column: span 2; */
}

.player-desc{
    width:85%;
    height: 55px;
    color:black;
    position: relative;
    top: 125px;
    left: 12px;
    font-size: 0.8em;
    /* grid-column: span 2; */
}

.player-atk{
    background-color: black;
    border: ridge darkorange 5px;
    border-radius: 5px;
    padding-top: 4px;
    width: 23px;
    color: darkorange;
    font-family: "scoreboard";
    position: relative;
    top: 105px;
    left: -12px;
}

.player-hp{
    background-image: url("../images/plaster.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    color: white;
    position: relative;
    top: 74px;
    left: 135px;
}

.mp-text, .hp-text{
    padding-top: 9px;
    padding-left: 2px;
}

/* =====================     SELF SECTION       =====================  */

/* main section container */
#self{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* left part (infos player) */
#self-infos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#self-hp{
    background-image: url("../images/plaster.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
}

#self-hp p{
    color: white;
    position: relative;
    top: 28px;
    left: 32px;
    font-size: 1.6em;
}

#self-mp{
    background-image: url("../images/puck.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
}

#self-mp p{
    color: white;
    position: relative;
    top: 28px;
    left: 42px;
    font-size: 1.6em;
}

#self-cards-left{
    background-image: url("../images/pack.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 120px;
    grid-column: span 2;
}

#cards-left{
    position: relative;
    top: 38px;
    left: 13px;
    font-size: 2.2em;
    width:  60px;
    text-align: center;
}

/* middle part (deck) */
#self-deck{
    display: flex;
    justify-content: center;
}

.card-on-deck{
    background-size: cover;
    background-repeat: no-repeat;
    width: 161px;
    height: 230px;
    margin: 30px 20px 0 20px;
    transition: 1s;
    box-shadow: 0 0 20px white;
}

.card-on-deck:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgb(0, 30, 98);
}

/* right part (game infos / actions) */
#game-infos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#game-infos button{
    background-color: white;
    color: rgb(166, 25, 46);
    border: solid rgb(0, 30, 98) 5px;
    border-radius: 10px;
	width: 200px;
	height: 60px;
	margin: auto;
	font-family: "Sports-Content";
	font-size: 1.5em;
}

#time{
    font-size: 1.5em;
    padding: 10px;
}

/* colors class */

.scoreboard{
    background-color: black;
    color: darkorange;
    border: ridge darkorange 5px;
    border-radius: 10px;
    font-family: "scoreboard";
    width: 200px;
}

.bos{
    background-color: rgba(0, 0, 0, 0.8);
    border: solid rgba(255, 181, 20, 0.8) 3px;
    border-radius: 10px;
    color: white;
}

.mtl{
    background-color: rgba(166, 25, 46, 0.8);
    border: solid rgba(0, 30, 98, 0.8) 3px;
    border-radius: 10px;
    color: white;
}


.bosOn{
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: solid rgba(255, 181, 20, 0.9) 5px;
}

.bosOff{
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: solid rgba(255, 181, 20, 0.4) 5px;
}

.mtlOn{
    background-color: rgba(166, 25, 46, 0.9);
    border-top: solid rgba(0, 30, 98, 0.9) 5px;
}

.mtlOff{
    background-color: rgba(166, 25, 46, 0.4);
    border-top: solid rgba(0, 30, 98, 0.4) 5px;
}

.sleep{
    opacity: 0.5;
}



