@font-face{
	font-family: "Sports-Title";
	src: url("../fonts/SFSportsNight.ttf");
}

@font-face{
	font-family: "Sports-Content";
	src: url("../fonts/octin_college_rg.ttf")
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-image: url("../images/rink.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    font-family: "Sports-Content", sans-serif;
}

/* =====================    OPPONENT SECTION    ===================== */

/* main section container */
#opponent{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: solid rgba(255, 181, 20, 0.5) 5px;
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 620px 1fr 620px;
}

/* left part (hand) */
#op-hand{
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin-left: 10px;
}

#op-hand1, #op-hand2, #op-hand3, #op-hand4, #op-hand5, #op-hand6, #op-hand7 {
    display: none;
}

.hand{
    background-image: url("../images/pack.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 75px;
    height: 100px;
    align-self: center;
}

/* middle part (hp, mp, name, class) */
#op-infos{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr;
}

#op-hp{
    background-image: url("../images/plaster.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-end;
    width: 80px;
    height: 80px;
}

#op-class{
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 15px;
    width: 200px;
    height: 200px;
}

#op-name{
    width: 260px;
    text-align: center;
    position: relative;
    top: 145px;
    right: 30px;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid rgba(255, 181, 20, 0.8) 3px;
    border-radius: 10px;
}

#op-mp{
    background-image: url("../images/puck.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-start;
    width: 80px;
    height: 80px;
}

#op-hp p{
    color: white;
    position: relative;
    top: 25px;
    left: 28px;
    font-size: 1.5em;
}

#op-mp p{
    color: white;
    position: relative;
    top: 25px;
    left: 40px;
    font-size: 1.5em;
}

/* right part (cards left) */
#op-cards-left{
    align-self: center;
    justify-self: flex-end;
    margin-right: 10px;
}

#op-cards-left div div{
    position: relative;
    top: 30px;
    left: 12px;
    font-size: 2em;
    width:  50px;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid rgba(255, 181, 20, 0.8) 3px;
    border-radius: 10px;
    color: white;
    text-align: center;
}


/* =====================    FIGHTING SECTION    ===================== */

/* main  section container */
#arena{

}


/* =====================     SELF SECTION       =====================  */

/* main section container */
#self{
    background-color: rgba(166, 25, 46, 0.5);
    border-top: solid rgba(0, 30, 98, 0.5) 5px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* left part (infos player) */
#self-infos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#self-hp{
    background-image: url("../images/plaster.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
}

#self-hp p{
    color: white;
    position: relative;
    top: 28px;
    left: 32px;
    font-size: 1.6em;
}

#self-mp{
    background-image: url("../images/puck.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
}

#self-mp p{
    color: white;
    position: relative;
    top: 28px;
    left: 42px;
    font-size: 1.6em;
}

#self-cards-left{
    background-image: url("../images/pack.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 120px;
    grid-column: span 2;
}

#cards-left{
    position: relative;
    top: 38px;
    left: 13px;
    font-size: 2.2em;
    width:  60px;
    background-color: rgba(166, 25, 46, 0.8);
    border: solid rgba(0, 30, 98, 0.8) 3px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

/* right part (game infos / actions) */
#game-infos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#game-infos button{
    background-image: url("../images/blue-button.png");
    background-size: cover;
    background-color: transparent;
	width: 200px;
	height: 75px;
	color: white;
	margin: auto;
	border: none;
	font-family: "Sports-Content";
	font-size: 1.1em;
}

#time{
    font-size: 2em;
    background-color: rgba(166, 25, 46, 0.8);
    border: solid rgba(0, 30, 98, 0.8) 3px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}